<%- include('./partials/header') %>

<div class="flex flex-col min-h-screen px-20 py-10">
    <h2 class="text-xl font-bold text-cyan-800" >My Cart</h2>
    <div class="flex-1">
        <% user.cart.forEach(function(item){ %>
            <div class="w-full flex items-start py-10 gap-10 border-b">
                <div class="w-[30%] rounded-md overflow-hidden">
                    <div class="w-full flex justify-center items-center h-80 bg-<%= item.product.bgcolor %>">
                        <img class="h-[18rem]" src="data:image/jpeg;base64, <%= item.product.image.toString('base64') %>" alt="">
                    </div>
                    <div class="w-full flex justify-between px-5 py-4 bg-<%= item.product.panelcolor %>">
                        <h3 class="text-2xl"><%= item.product.name %></h3>
                        <div class="flex items-center gap-2">
                            <a href="/cart/increase/<%= item.product._id %>" class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-add-line"></a>
                            <div class="px-2 py-1 rounded-md bg-white text-black"><%= item.quantity %></div>
                            <a href="/cart/decrease/<%= item.product._id %>" class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-subtract-line"></a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between px-5 py-3 bg-<%= item.product.textcolor %>">
                        <h4 class="text-lg">Net Total</h4>
                        <h2 class="text-lg">₹ <%= ((Number(item.product.price)- Number(item.product.discount)) * item.quantity) +20 %></h2>
                    </div>
                </div>
            <div class="w-[70%]">
                <h3 class="text-xl">Price Breakdown</h3>
                <div class="px-10 mt-5">
                    <div class="flex mt-2">
                        <h4 class="w-1/3">Total MRP</h4>
                        <h4>₹ <%= item.product.price %></h4>
                    </div>
                    <div class="flex mt-2">
                        <h4 class="w-1/3">Discount on MRP</h4>
                        <h4>₹  <%= item.product.discount %></h4>
                    </div>
                    <div class="flex mt-2">
                        <h4 class="w-1/3">Platform Fee</h4>
                        <h4>₹ 20</h4>
                    </div>
                    <div class="flex mt-2">
                        <h4 class="w-1/3">Shipping Fee</h4>
                        <h4>FREE</h4>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

    <!-- Total Amount Section -->
    <div class="mt-10 pb-10 border-t pt-5">
        <div class="flex justify-between items-center">
            <h3 class="text-xl">Total Amount</h3>
            <h3 class="font-semibold text-xl text-green-600">₹ <%= bill %></h3>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
